<h2>Create a new account here: </h2>

<form method="POST" action="/signup">
  <label for="username">Username:</label><br>
  <input id="username" type="text" name="user[username]"><br>
  <br>

  <label for="email">Email:</label><br>
  <input id="email" type="text" name="user[email]"><br>
  <br>

  <label for="password">Password:</label><br>
  <input id="password" type="password" name="user[password]"><br>
  <br>

  <input type="submit" value="Submit">
</form>
