<h2>Store Book: </h2>

<form method="POST" action="/books">
  <label for="title">Title:</label><br>
  <input id="title" type="text" name="title"><br>
  <br>

  <label for="author">Author:</label><br>
  <input id="author" type="text" name="author"><br>
  <br>

  <label for="publisher">Publisher:</label><br>
  <input id="publisher" type="text" name="publisher"><br>
  <br>

  <label for="genre">Genre:</label><br>
  <input id="genre" type="text" name="genre"><br>
  <br>

  <label for="pages">Pages:</label><br>
  <input id="pages" type="text" name="pages"><br>
  <br>

  <input type="submit" value="Store Vintage Book">
</form>
